@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.memp {
  color: #ffffff;
  font-weight: 400;
  line-height: 1.3em;
  text-shadow: 0px 0px 0px rgb(0 0 0 / 30%);
  color: #fefefe;
  -webkit-box-reflect: below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgb(0, 0, 0)));
  color: #ffffff;
  text-shadow: 1px 1px 2px rgb(190, 75, 75), 0 0 25px rgb(206, 82, 82), 0 0 5px rgb(220, 46, 46);
}


.btn:hover {
  transition: all 0.5s;
  border-style: groove;
  background-color: white;
  color: rgb(251, 0, 0);
  border-style: groove;
  border-width: 0px 10px 0px 10px;
}